.boarding-main{
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 20px 10px;
  height: 100vh;
  overflow-x: hidden;

  .prev-button{
    border: none;
    background: transparent;
  }

  .weight-picker {
    text-align: center;
    margin-top: 20px;
  }

  .weight-slider {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    scroll-snap-type: x mandatory;
    align-items: center;
    position: relative;
  }

  .weight-tick {
    flex: 0 0 2px;
    height: 50px;
    margin-right: 8px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    position: relative;
  }

  .weight-label {
    position: absolute;
    top: -25px;
    font-size: 12px;
    color: #333;
  }

  .selected-weight-display {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}